<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1 align="center">뷰 리졸버를 이용한 뷰 연결하기</h1>
    <h3>문자열로 뷰 이름 반환하기</h3>
    <button onclick="location.href='string'">문자열로 뷰 이름 반환하기</button>
    <h3>문자열로 redirect 하기</h3>
    <button onclick="location.href='string-redirect'">문자열로 뷰 이름 반환하여 리다이렉트</button>
    <script>
        const message1=`[[${message1}]]`;
        console.log('test')
        console.log(message1)
    </script>

    <h3>문자열로 뷰 이름 반환하면서 flashAttribute 추가하기</h3>
    <button onclick="location.href='string-redirect-attr'">문자열로 뷰 이름 반환하여 리다이렉트 & flashAttr 사용하기</button>
    <script>
        const flashMessage='[[${flashMessage1}]]';
        console.log(flashMessage);
    </script>

    <h3>ModelAndView로 뷰 이름 지정해서 반환하기</h3>
    <button onclick="location.href='modelandview'">ModelAndView로 뷰 이름 지정해서 반환하기</button>

    <h3>ModelAndView로 Redirect하기</h3>
    <button onclick="location.href='modelandview-redirect'">ModelAndView로 뷰 이름 반환하여 리다이렉트</button>
    <script>
        const message2=`[[${param.message2}]]`;
        console.log(message2)
    </script>

    <h3>ModelAndView로 redirect하면서 flashAttribute 추가</h3>
    <button onclick="location.href='modelandview-redirect-attr'">ModelAndView로 뷰 이름 반환하며 리다이렉트</button>
    <script>
        const flashMessage2='[[${flashMessage2}]]';
        if(flashMessage2){
            alert(flashMessage2);
        }
    </script>
</body>
</html>