<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
<!--    <link rel="stylesheet" type="text/css" href="/css/common.css"/>-->
    <link rel="stylesheet" type="text/css" th:href="@{/css/common.css}"/>
</head>
<body>
    <h1 align="center">표현식</h1>
    <h2>주석</h2>
    <ul>
      <li>parser-level 주석</li>
      <!--/* 주석 내용 주석내용 표시X */-->
      <li>prototype-only</li>
      <!--/*/ 주석 내용 정적일 페이지일땐 표시X 서버로 넘어가면서 Stream형태로 표시됨 /*/-->
    </ul>

    <h2>변수 표현식${...}</h2>
    <p th:text="${param.title}"></p>
    <p th:text="${param.no[0]}"></p>
    <p th:text="${param.no[1]}"></p>

    <h2>메세지 표현식 #{...}</h2>
    <p th:text="#{message.value}"></p>

    <h2>링크 표현식 @{...}</h2>
    <a th:href="@{/}">메인으로</a>

    <h2>선택 변수 표현식 *{...}</h2>
    <p th:text="${member.name}"></p>
    <div th:object="${member}">
      <p th:text="*{age}"></p>
      <p th:text="*{gender}"></p>
      <p th:text="*{address}"></p>
    </div>
    <h3 th:text="${hello}"></h3>


    <h2>HTML 출력 th:text, th:utext ,th:value</h2>
    <ul>
      <li th:text="${hello1}"></li>
      <li th:utext="${hello1}"></li>
      <li th:utext="${hello2}"></li>
      <li><input type="text" th:value="타임리프"></li>
    </ul>

    <h2 th:inline="none">인라인 표현식 [[...]]  <- th:text , [(...)] <- th:utext</h2>
    <ul>
        <li th:inline="none">[[${hello}]]</li>
        <li>[[${hello}]]</li>
        <li>[(${hello})]</li>
    </ul>
    <script th:inline="javascript">
        window.onload = function (){
            let hello = '[[${hello1}]]';

            alert(hello);
        }
    </script>
    <h2>리터럴 치환 ||</h2>
    <p th:object="${member}" th:text="|name = *{name}|"></p>
    <h2>th:block</h2>
    <th:block th:object="${member}">
        <p th:text="*{age}"></p>
    </th:block>
</body>
</html>